<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Links Project</title>
		<link rel="stylesheet" href="assets/css/style.css" />
		<script data-main="lib/main.js" src="lib/require.js"></script>
		<script>
			require.config({
				baseUrl: "./lib",
				paths : {
					linkCollection: "app/linkCollection"
				}
			});
	</script>
	</head>

	<body onload="loaded()">
		<h4 id="header1">Links</h4>
		<h4 id="header2">Links</h4>
		<h4 id="header3">Links</h4>
		<h4 id="header4">Links</h4>

		<script id="linkTemplate" type="text/template">
			<h1><%= name %><span><%= type %></span></h1>
			<img src="<%= photo %>" alt="<%= name %>" />
			<p class="testNum"><%= numId %></p><p class="desc"><%= description %></p>
			<div><a href="<%= address %>" target="_blank">Home page: <%= address %></a></div>
			<button class="showMore">More</button>
			<!--<button class="showMore" onclick="location.href='#more'">More</button>-->
		</script>

		<script>
			function loaded() {
				document.getElementById("header1").innerHTML = "loaded";
			}
		</script>
	</body>
</html>